<div class="vizparagraph"><p>The purpose of this web application is to display various perscription KPIs so doctors can identify trends in products. To view each dashboard navigate with the above buttons.</br></p></div>
<%= link_to "https://hack.osu.edu/2021/" do %>
	<%= image_tag "hack-logo.svg", class:"logo2" %>
<% end %>
