<p>The pharmaceutical industry uses prescriber data to target doctors with life-saving medications and
therapies. Companies can use the prescriber data to help understand how doctors prescribe their
product, as well as helping them to track total prescriptions (TRx) and new prescriptions (NRx) for a
product in a given market. </p>
